<div class="container">
    <div class="menu">
        <div class="card">
            <a href="/gestao/clientes"><i class="bi bi-person" style="font-size: 5rem; color: #f6982d;"></i>
                <p>Modulo Cliente</p>
            </a>
        </div>
        <div class="card">
            <a href="/gestao/produtos"><i class="bi bi-box-fill" style="font-size: 5rem; color: #f6982d;"></i>
                <p>Modulo Produto</p>
            </a>
        </div>
        <div class="card">
            <a href="#"><i class="bi bi-database" style="font-size: 5rem; color: #f6982d;"></i>
                <p>Modulo Venda</p>
            </a>
        </div>
        <div class="card">
            <a href="/gestao/caixa"><i class="bi bi-currency-dollar" style="font-size: 5rem; color: #f6982d;"></i>
                <p>Modulo Caixa</p>
            </a>
        </div>

    </div>
</div>