<div class="auth-container">

    <h2>Atualizar Cliente</h2>

    <form method="post" action="/gestao/clientes/atualizarCliente">
        <input type="hidden" id="id" name="id" value="{{cliente.id}}">
        <div class="form-control">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{cliente.nome}}">
        </div>
        <div class="form-control">
            <label for="telefone">Telefone:</label>
            <input type="tel" maxlength="15" onkeyup="handlePhone(event)" id="telefone" name="telefone" value="{{cliente.telefone}}">
        </div>
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{cliente.email}}">
        </div>
        <input type="submit" value="Atualizar">
        <p> Voltar ao Modulo <a href="/gestao/clientes">Cliente</a></p>
    </form>
</div>

<script>
    const handlePhone = (event) => {
        let input = event.target
        input.value = phoneMask(input.value)
    }

    const phoneMask = (value) => {
    if (!value) return ""
        value = value.replace(/\D/g,'')
        value = value.replace(/(\d{2})(\d)/,"($1) $2")
        value = value.replace(/(\d)(\d{4})$/,"$1-$2")
        return value
    }
</script>