<div class="container">
    <div class="menu">
        <div class="card">
            <a href="/gestao/clientes/cadastrarCliente"><i class="bi bi-person-add" style="font-size: 5rem; color: #f6982d;"></i>
<!--            <h2>Card 1</h2>-->
            <p>Cadastrar Cliente</p>
            </a>
        </div>
<!--        <div class="card">-->
<!--            <a href="/gestao/clientes/atualizarCliente"><i class="bi bi-person-check" style="font-size: 5rem; color: #f6982d;"></i>-->
<!--                &lt;!&ndash;            <h2>Card 1</h2>&ndash;&gt;-->
<!--                <p>Atualizar Cliente</p>-->
<!--            </a>-->
<!--        </div>-->
        <div class="card">
            <a href="/gestao/clientes/listarClientes"><i class="bi bi-people-fill" style="font-size: 5rem; color: #f6982d;"></i>
                <!--            <h2>Card 1</h2>-->
                <p>Listar Cliente</p>
            </a>
        </div>
<!--        <div class="card">-->
<!--            <a href="#"><i class="bi bi-person-dash" style="font-size: 5rem; color: #f6982d;"></i>-->
<!--                &lt;!&ndash;            <h2>Card 1</h2>&ndash;&gt;-->
<!--                <p>Cadastrar Cliente</p>-->
<!--            </a>-->
<!--        </div>-->
    </div>
</div>