<div class="container">
    <div class="menu">
        <div class="card">
            <a href="/gestao/caixa/iniciarSaldo"><i class="bi bi-currency-dollar" style="font-size: 5rem; color: #f6982d;"></i>
                <!--            <h2>Card 1</h2>-->
                <p> Iniciar Saldo </p>
            </a>
        </div>

        <div class="card">
            <a href="/gestao/caixa/consultarSaldo"><i class="bi bi-currency-dollar" style="font-size: 5rem; color: #f6982d;"></i>
                <!--            <h2>Card 1</h2>-->
                <p> consultar saldo </p>
            </a>
        </div>

    </div>
</div>