<div class="auth-container">
    <h2> Iniciar Saldo em Caixa </h2>
    <form method="post" action="/gestao/caixa/iniciarSaldo">
        <div class="form-control">
            <label for="saldo">Saldo inicial do caixa:</label>
            <input type="text" id="saldo" name="saldo" placeholder="Saldo do caixa, ex: 1000.99">
        </div>

        <input type="submit" value="Cadastrar">
        <p> Voltar ao Modulo <a href="/gestao/caixa">Caixa</a></p>
    </form>
</div>